<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="BoardDao">
  <!-- 테이블의 컬럼 이름과 VO 클래스의 프로퍼티 이름을 미리 연결해 둘수 있다. -->
  <resultMap type="Board" id="BoardMap">
    <!-- PK 컬럼은 id태그로 선언하라 -->
    <id     column="BNO"    property="no"/>     
    <result column="CONTS"  property="content"/>
    <result column="VIEWS"  property="views"/>
    <result column="WRT"    property="writer"/>
    <result column="CR_DT"    property="createdDate"/>    
  </resultMap>

  <!-- 파라미터나 결과에 대해 데이터 차입을 지정할 때,
       mybatis 설정 파일에 선언된 별명을 사용한다.
   -->
  <insert id="insert" parameterType="Board">

    insert into BOARDS(TITLE,CONTS,WRT)    
    values(#{title},#{content},#{WRT},now()) 

  </insert>
  
  <update id="update" parameterType="Board">    
    update BOARDS set
      TITLE=#{title},
      CONTS=#{content},

      WRITER=#{WRT},
      
      CDT=now()

    where BNO=#{no}  
  </update>  
  
  <!-- paramaterType이 원시데이터 타입일 경우,
      => 프로퍼티 이름은 아무거나 넣어도 된다.
   -->
  <delete id="delete" parameterType="int">
    delete from BOARDS where BNO=#{no}
  </delete>
  <!-- resultMap에 컬럼에 대응하는 프로퍼티 정보를 미리 설정했기 때문에,
       SQL문에서는 각 컬럼에 대해 별명을 부여할 필요가 없다.
       단, resultType 속성 대신 resultMap속성을 지정해야 한다.      
   -->
  <select id="selectList" resultMap="BoardMap">
    select * from BOARDS
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="BoardMap">
    select * from BOARDS where BNO=#{no}
  </select>
</mapper>